table {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  th {
    background-color: #ff9824;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    text-transform: uppercase;
  }

  td {
    text-align: center;
  }
}



.btn-container-actions {
  margin-top: 2rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 1rem;
    max-width: 250px;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #13aa52;
    border: 1px solid #13aa52;
  }

}

.actions-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  button {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border: none;
  }

  .btn-edit {
    background: #306ebb;
  }

  .btn-remove {
    background: #e74c3c;
  }
}

.container-sem-cadastro {
  padding: 16px;
  h3 {
    font-size: 24px;
    text-align: center;

  }
}
